#ast{
    height: 60px;
    padding-left: 10px;
    padding-top:10px;
}

.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-weight: 200;
    padding-right: 30px;
    padding-top: 20px;
    float: right;
}

h4{
    font-family:cursive;
    font-size:small;
    font-weight: 30;
    padding-top: 3px;
    color:rgb(103, 101, 101);
}

h5{
    font-family:cursive;
    font-size:small;
    font-weight: 20;
    padding-top: 3px;
    color:rgb(103, 101, 101);
}

h6{
    font-family:cursive;
    font-size:small;
    font-weight: 15;
    padding-top: 2px;
    color:rgb(103, 101, 101);
}

.bar li{
    text-align: center;
    list-style:none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    display: inline-block;
}
.bar li a{color:black;}

#search{
    display: inline-block;
    padding-top: 8px;
    
}

                    
.picture{
    border-radius: 10%;
    width: 180px;
}

.card1{
    float: left;
}

.fixed
{
	position:fixed;
	bottom: 0px;
    left: 0px;
    border: 1px;         /*固定在显示页面的某位置，不随滚动变化*/
    width: 3000px;
    height: 80px;
}